.tile__like {
  position: absolute;
  right: 0;
  bottom: 0.5rem;

  width: 2rem;
  height: 2rem;

  cursor: pointer;

  background: none;
  border: none;
}

.tile__like:after {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  transform: translate(-50%, -50%);

  background-image: url(/img/sprite/sprite.png);
  background-position: 0px -15px;
  width: 17px;
  height: 16px;
  background-size: 45px, 31px;
  background-repeat: no-repeat;
}
